{% extends 'frame.html' %}

{% block body %}
    <div class="ui container">
        <h1 id="title">HorizonTology</h1>

        <form class="ui form segment" action="app.html" method="get">
            <h4 class="ui dividing header">Text Information</h4>
            <div class="required field">
                <label>Main Text</label>
                <textarea rows="4" name="text[main]" placeholder="Engineering is an amazing course"></textarea>
            </div>
            <div class="required field">
                <label>Wrapper Text</label>
                <input type="text" name="text[wrapper]" placeholder="Potato">
            </div>


            <h4 class="ui dividing header">Options</h4>
            <div class="fields">
                <div class="three wide field">
                    <label>Font Style</label>
                    <select class="ui fluid search dropdown" name="options[font]">
                        <option value="1">Arial</option>
                        <option value="2">Block</option>
                        <option value="3">Gill Sans</option>
                        <option value="4">Block Line</option>
                    </select>
                </div>
                <div class="two wide field">
                    <label>Font Size</label>
                    <input type="text" name="options[size]" maxlength="3" value="50">
                </div>
            </div>

            <h4 class="ui dividing header">Finished!</h4>
            <div class="ui animated fade primary submit button" tabindex="0">
                <div class="visible content">Work the magic!</div>
                <div class="hidden content">
                    <i class="magic icon"></i> + <i class="flask icon"></i> = <i class="fire icon"></i>
                </div>
            </div>
            <div class="ui reset button">Reset</div>

            <div class="ui error message"></div>
        </form>
    </div>

    <style type="text/css">
        body > .ui.container {
            margin-top: 3em;
        }

        .ui.container > h1 {
            font-size: 3em;
            text-align: center;
            font-weight: normal;
        }

        .ui.container > h2.dividing.header {
            font-size: 2em;
            font-weight: normal;
            margin: 4em 0em 3em;
        }

        .ui.table {
            table-layout: fixed;
        }

        #title {
            margin-top: 10px;
            margin-bottom: 75px;
        }

    </style>
{% endblock %}

{% block scripts %}
    <script src="static/app.js"></script>
{% endblock %}