{% extends 'frame.html' %}

{% block body %}
    <div class="ui inverted vertical masthead center aligned segment" style="min-height: 650px">
        <div class="ui text container" style="padding-top: 40px">
            <h1 class="ui inverted header">
                HorizonTology
            </h1>
            <h2>
                Hide secret messages in plain sight.
            </h2>
            <a class="ui animated fade huge primary button" href="app.html">
                <div class="visible content">
                    Try it out<i class="right arrow icon"></i>
                </div>
                <div class="hidden content">
                    Lets go! <i class="rocket icon"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>
                        "Where can we put our potatoes?"
                    </h3>
                    <p>
                        In plain sight that is!
                    </p>
                </div>
                <div class="column">
                    <h3>
                        "Anyone who writes potato on the sheet will be failed"
                    </h3>
                    <p>
                        Ha, challenge accepted
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">
                Deep roots from ENGG1100 at UQ
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </p>
        </div>
    </div>
{% endblock %}