{% extends 'frame.html' %}

{% block body %}
    <div class="ui container">
        <h1 id="title">HorizonTology</h1>

        <div class="ui top attached segment" style="margin-bottom: 30px">
            <div class="ui top attached label">
                <span id="result-header">Results</span>

                <div class="mini ui right floated buttons">
                    <div id="font-decrease" class="ui button" data-content="Decrease text size">-</div>
                    <div id="font-current" class="or" data-text="7"></div>
                    <div id="font-increase" class="ui button" data-content="Increase text size">+</div>
                </div>

                <div id="copy-text" class="mini ui right floated icon button" data-content="Copy text">
                    <i class="copy icon"></i>
                </div>
            </div>

            <div style="padding-top: 26px">
                <h4 id="result">
                    {{ generated_text|safe }}
                </h4>


                <h4 class="ui dividing header">Actions</h4>
                <div id="try-again" class="ui animated fade primary button" tabindex="0">
                    <div class="visible content">Another one!</div>
                    <div class="hidden content">
                        <i class="redo icon"></i>
                    </div>
                </div>
                <div id="share" class="ui animated fade button" tabindex="0">
                    <div class="visible content">Share</div>
                    <div class="hidden content">
                        <i class="share alternate icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        body > .ui.container {
            margin-top: 3em;
        }

        .ui.container > h1 {
            font-size: 3em;
            text-align: center;
            font-weight: normal;
        }

        #result-header {
            font-size: 16px;
            color: rgba(0,0,0,.87);
            position: absolute;
            margin-top: 8px;
        }

        #title {
            margin-top: 10px;
            margin-bottom: 75px;
        }

        #result {
            font-family: monospace;
            overflow-x: scroll;
            font-size: 7px;
        }

    </style>
{% endblock %}

{% block scripts %}
    <script src="static/process.js"></script>
{% endblock %}